<div class="container-fluid">
<div class="row">
  <div class="top">
      <img src="img/vplogowht.svg" class="logo img-responsive" alt="Vernon Proms">
  </div>
</div>
<div class="row mid">
  <div class="col-md-4 operaip text-center">
    <img src="img/operainthepark.svg" class="op img-responsive" alt="Opera in the Park" />
  </div>
  <div class="col-md-4 earlymusic text-center">
    <img src="img/earlymusiccon.svg" class="em img-responsive" alt="Early Music" />
  </div>
  <div class="col-md-4 galaconcert text-center">
    <img src="img/galaattrinity.svg" class="gc img-responsive" alt="Gala Concert" />
  </div>
</div>
  {{outlet}}
</div>
